.yoast {
    font-size: 14px;
    color: #262626;
    line-height: 1.3;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fafafa;
    font-family: Arial, sans-serif;
}
.yoast__items {
    padding-left: 0;
    margin: 0 0 20px 0;
}
.yoast__items--bottom {
    margin-bottom: 0;
}
.yoast__item {
    list-style: none;
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 8px 10px 8px 35px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 1), 0 2px 5px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to left, #f6f6f6, transparent);
    background-repeat: repeat-y;
    background-position: right center;
}

.yoast__item::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: #cccccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.yoast__item:last-child {
    margin-bottom: 0;
}

.yoast__item--bad {
    background-image: linear-gradient(45deg, rgba(255, 0, 0, .1), transparent);
}
.yoast__item--bad::before {
    background-color: #d42716;
}

.yoast__item--ok {
    background-image: linear-gradient(45deg, rgba(255, 165, 0, .1), transparent);
}
.yoast__item--ok::before {
    background-color: #e69f00;
}

.yoast__item--good {
    background-image: linear-gradient(45deg, rgba(0, 128, 0, .1), transparent);
}
.yoast__item--good::before {
    background-color: #2ab711;
}

.yoast__heading {
    text-transform: uppercase;
    color: #888888;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5px;
}